# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [2]:
%help

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.8

# Available Magic Commands

## Sessions Magic

----
    %help                             Return a list of descriptions and input types for all magic commands.
    %profile            String        Specify a profile in your aws configuration to use as the credentials provider.
    %region             String        Specify the AWS region in which to initialize a session.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\ USERNAME \.aws\config" on Windows.
    %idle_timeout       Int           The number of minutes of inactivity after which a session will timeout.
                                      Default: 2880 minutes (48 hours).
    %timeout            Int           The number of minutes after which a session will timeout.
                                      Default: 2880 minutes (48 hours).
    %session_id_prefix  String        Define a String that will precede all session IDs in the format
                                      [session_id_prefix]-[session_id]. If a session ID is not provided,
                                      a random UUID will be generated.
    %status                           Returns the status of the current Glue session including its duration,
                                      configuration and executing user / role.
    %session_id                       Returns the session ID for the running session.
    %list_sessions                    Lists all currently running sessions by ID.
    %stop_session                     Stops the current session.
    %glue_version       String        The version of Glue to be used by this session.
                                      Currently, the only valid options are 2.0, 3.0 and 4.0.
                                      Default: 2.0.
    %reconnect          String        Specify a live session ID to switch/reconnect to the sessions.
----

## Selecting Session Types

----
    %streaming          String        Sets the session type to Glue Streaming.
    %etl                String        Sets the session type to Glue ETL.
    %session_type       String        Specify a session_type to be used. Supported values: streaming and etl.
----

## Glue Config Magic
*(common across all session types)*

----

    %%configure         Dictionary    A json-formatted dictionary consisting of all configuration parameters for
                                      a session. Each parameter can be specified here or through individual magics.
    %iam_role           String        Specify an IAM role ARN to execute your session with.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\%USERNAME%\.aws\config` on Windows.
    %number_of_workers  int           The number of workers of a defined worker_type that are allocated
                                      when a session runs.
                                      Default: 5.
    %additional_python_modules  List  Comma separated list of additional Python modules to include in your cluster
                                      (can be from Pypi or S3).
    %%tags        Dictionary          Specify a json-formatted dictionary consisting of tags to use in the session.

    %%assume_role Dictionary, String  Specify a json-formatted dictionary or an IAM role ARN string to create a session
                                      for cross account access.
                                      E.g. {valid arn}
                                      %%assume_role
                                      'arn:aws:iam::XXXXXXXXXXXX:role/AWSGlueServiceRole'
                                      E.g. {credentials}
                                      %%assume_role
                                      {
                                            "aws_access_key_id" : "XXXXXXXXXXXX",
                                            "aws_secret_access_key" : "XXXXXXXXXXXX",
                                            "aws_session_token" : "XXXXXXXXXXXX"
                                       }
----


## Magic for Spark Sessions (ETL & Streaming)

----
    %worker_type        String        Set the type of instances the session will use as workers.
    %connections        List          Specify a comma separated list of connections to use in the session.
    %extra_py_files     List          Comma separated list of additional Python files From S3.
    %extra_jars         List          Comma separated list of additional Jars to include in the cluster.
    %spark_conf         String        Specify custom spark configurations for your session.
                                      E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer
----

## Action Magic

----

    %%sql               String        Run SQL code. All lines after the initial %%sql magic will be passed
                                      as part of the SQL code.
    %matplot      Matplotlib figure   Visualize your data using the matplotlib library.
                                      E.g.
                                      import matplotlib.pyplot as plt
                                      # Set X-axis and Y-axis values
                                      x = [5, 2, 8, 4, 9]
                                      y = [10, 4, 8, 5, 2]
                                      # Create a bar chart
                                      plt.bar(x, y)
                                      # Show the plot
                                      %matplot plt
    %plotly            Plotly figure  Visualize your data using the plotly library.
                                      E.g.
                                      import plotly.express as px
                                      #Create a graphical figure
                                      fig = px.line(x=["a","b","c"], y=[1,3,2], title="sample figure")
                                      #Show the figure
                                      %plotly fig



----

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 2880
%glue_version 3.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Current idle_timeout is None minutes.
idle_timeout has been set to 2880 minutes.
Setting Glue version to: 3.0
Previous worker type: None
Setting new worker type to: G.1X
Previous number of workers: None
Setting new number of workers to: 5
Trying to create a Glue session for the kernel.
Session Type: glueetl
Worker Type: G.1X
Number of Workers: 5
Idle Timeout: 2880
Session ID: 8fe93770-898a-450b-87d0-592154a8cec3
Applying the following default arguments:
--glue_kernel_version 1.0.8
--enable-glue-datacatalog true
Waiting for session 8fe93770-898a-450b-87d0-592154a8cec3 to get into ready status...
Session 8fe93770-898a-450b-87d0-592154a8cec3 has been created.

# 1. Extracting Data

## 1.1 Extracting data from APIs (e.g., REST API)

In [3]:
import requests
import json
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, ArrayType

# Fetch the JSON response using requests library
response = requests.get("https://dummyjson.com/products/1")
data = response.json()
print(data)
schema = StructType([
    StructField("id", IntegerType(), nullable=False),
    StructField("title", StringType(), nullable=True),
    StructField("description", StringType(), nullable=True),
    StructField("price", FloatType(), nullable=True),
    StructField("discountPercentage", FloatType(), nullable=True),
    StructField("rating", FloatType(), nullable=True),
    StructField("stock", IntegerType(), nullable=True),
    StructField("brand", StringType(), nullable=True),
    StructField("category", StringType(), nullable=True),
    StructField("thumbnail", StringType(), nullable=True),
    StructField("images", ArrayType(StringType()), nullable=True)
])
dataframe = spark.createDataFrame([data], schema=schema)

# Display the DataFrame
dataframe.show()

{'id': 1, 'title': 'Essence Mascara Lash Princess', 'description': 'The Essence Mascara Lash Princess is a popular mascara known for its volumizing and lengthening effects. Achieve dramatic lashes with this long-lasting and cruelty-free formula.', 'category': 'beauty', 'price': 9.99, 'discountPercentage': 7.17, 'rating': 4.94, 'stock': 5, 'tags': ['beauty', 'mascara'], 'brand': 'Essence', 'sku': 'RCH45Q1A', 'weight': 2, 'dimensions': {'width': 23.17, 'height': 14.43, 'depth': 28.01}, 'warrantyInformation': '1 month warranty', 'shippingInformation': 'Ships in 1 month', 'availabilityStatus': 'Low Stock', 'reviews': [{'rating': 2, 'comment': 'Very unhappy with my purchase!', 'date': '2024-05-23T08:56:21.618Z', 'reviewerName': 'John Doe', 'reviewerEmail': 'john.doe@x.dummyjson.com'}, {'rating': 2, 'comment': 'Not as described!', 'date': '2024-05-23T08:56:21.618Z', 'reviewerName': 'Nolan Gonzalez', 'reviewerEmail': 'nolan.gonzalez@x.dummyjson.com'}, {'rating': 5, 'comment': 'Very satisfied!', 'date': '2024-05-23T08:56:21.618Z', 'reviewerName': 'Scarlett Wright', 'reviewerEmail': 'scarlett.wright@x.dummyjson.com'}], 'returnPolicy': '30 days return policy', 'minimumOrderQuantity': 24, 'meta': {'createdAt': '2024-05-23T08:56:21.618Z', 'updatedAt': '2024-05-23T08:56:21.618Z', 'barcode': '9164035109868', 'qrCode': 'https://assets.dummyjson.com/public/qr-code.png'}, 'images': ['https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/1.png'], 'thumbnail': 'https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/thumbnail.png'}
+---+--------------------+--------------------+-----+------------------+------+-----+-------+--------+--------------------+--------------------+
| id|               title|         description|price|discountPercentage|rating|stock|  brand|category|           thumbnail|              images|
+---+--------------------+--------------------+-----+------------------+------+-----+-------+--------+--------------------+--------------------+
|  1|Essence Mascara L...|The Essence Masca...| 9.99|              7.17|  4.94|    5|Essence|  beauty|https://cdn.dummy...|[https://cdn.dumm...|
+---+--------------------+--------------------+-----+------------------+------+-----+-------+--------+--------------------+--------------------+

## 1.2 Extracting data from files (e.g., CSV)

In [6]:
df_orders = spark.read.format("csv").option("header", "true").load("s3://asdfgh-pyspark/landing-zone/orders/19980505")
df_categories = spark.read.format("csv").option("header", "true").load("s3://asdfgh-pyspark/landing-zone/categories")
df_customers = spark.read.format("csv").option("header", "true").load("s3://asdfgh-pyspark/landing-zone/customers")
df_orders_details = spark.read.format("csv").option("header", "true").load("s3://asdfgh-pyspark/landing-zone/orders_details")
df_products = spark.read.format("csv").option("header", "true").load("s3://asdfgh-pyspark/landing-zone/products")
df_suppliers = spark.read.format("csv").option("header", "true").load("s3://asdfgh-pyspark/landing-zone/suppliers")

# Display the DataFrame
df_orders.show()

+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+
|orderid|customerid|employeeid| orderdate|requireddate|shippeddate|shipvia|freight|            shipname|         shipaddress|      shipcity|shipregion|shippostalcode|shipcountry|
+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+
|  10248|     VINET|         5|1996-07-04|  1996-08-01| 1996-07-16|      3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|      null|         51100|     France|
|  10249|     TOMSP|         6|1996-07-05|  1996-08-16| 1996-07-10|      1|  11.61|  Toms Spezialitäten|       Luisenstr. 48|       Münster|      null|         44087|    Germany|
|  10250|     HANAR|         4|1996-07-08|  1996-08-05| 1996-07-12|      2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|
|  10251|     VICTE|         3|1996-07-08|  1996-08-05| 1996-07-15|      1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|      null|         69004|     France|
|  10252|     SUPRD|         4|1996-07-09|  1996-08-06| 1996-07-11|      2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|      null|        B-6000|    Belgium|
|  10253|     HANAR|         3|1996-07-10|  1996-07-24| 1996-07-16|      2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|
|  10254|     CHOPS|         5|1996-07-11|  1996-08-08| 1996-07-23|      2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|      null|          3012|Switzerland|
|  10255|     RICSU|         9|1996-07-12|  1996-08-09| 1996-07-15|      3| 148.33|  Richter Supermarkt|         Starenweg 5|        Genève|      null|          1204|Switzerland|
|  10256|     WELLI|         3|1996-07-15|  1996-08-12| 1996-07-17|      2|  13.97|Wellington Import...|  Rua do Mercado, 12|       Resende|        SP|     08737-363|     Brazil|
|  10257|     HILAA|         4|1996-07-16|  1996-08-13| 1996-07-22|      3|  81.91|    HILARION-Abastos|Carrera 22 con Av...| San Cristóbal|   Táchira|          5022|  Venezuela|
|  10258|     ERNSH|         1|1996-07-17|  1996-08-14| 1996-07-23|      1| 140.51|        Ernst Handel|        Kirchgasse 6|          Graz|      null|          8010|    Austria|
|  10259|     CENTC|         4|1996-07-18|  1996-08-15| 1996-07-25|      3|   3.25|Centro comercial ...|Sierras de Granad...|   México D.F.|      null|          5022|     Mexico|
|  10260|     OTTIK|         4|1996-07-19|  1996-08-16| 1996-07-29|      1|  55.09|  Ottilies Käseladen|  Mehrheimerstr. 369|          Köln|      null|         50739|    Germany|
|  10261|     QUEDE|         4|1996-07-19|  1996-08-16| 1996-07-30|      2|   3.05|         Que Delícia|Rua da Panificado...|Rio de Janeiro|        RJ|     02389-673|     Brazil|
|  10262|     RATTC|         8|1996-07-22|  1996-08-19| 1996-07-25|      3|  48.29|Rattlesnake Canyo...|     2817 Milton Dr.|   Albuquerque|        NM|         87110|        USA|
|  10263|     ERNSH|         9|1996-07-23|  1996-08-20| 1996-07-31|      3| 146.06|        Ernst Handel|        Kirchgasse 6|          Graz|      null|          8010|    Austria|
|  10264|     FOLKO|         6|1996-07-24|  1996-08-21| 1996-08-23|      3|   3.67|      Folk och fä HB|        Åkergatan 24|        Bräcke|      null|      S-844 67|     Sweden|
|  10265|     BLONP|         2|1996-07-25|  1996-08-22| 1996-08-12|      1|  55.28|Blondel père et fils|    24, place Kléber|    Strasbourg|      null|         67000|     France|
|  10266|     WARTH|         3|1996-07-26|  1996-09-06| 1996-07-31|      3|  25.73|      Wartian Herkku|         Torikatu 38|          Oulu|      null|         90110|    Finland|
|  10267|     FRANK|         4|1996-07-29|  1996-08-26| 1996-08-06|      1| 208.58|      Frankenversand|   Berliner Platz 43|       München|      null|         80805|    Germany|
+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+
only showing top 20 rows

## 1.3 Extracting data from a database using JDBC connection

In [ ]:
jdbc_url = "jdbc:postgresql://<host>:<port>/<database>"
db_properties = {"user": "<username>", "password": "<password>", "driver": "org.postgresql.Driver"}
dataframe = spark.read.format("jdbc").options(url=jdbc_url, **db_properties).load()

# 2. Loading Data

## 2.1 Loading Data to S3 Raw Zone

In [8]:
from pyspark.sql.functions import year, month, dayofmonth, format_string

df_orders = df_orders.withColumn("year", year(df_orders['orderdate']))
df_orders = df_orders.withColumn("month", format_string("%02d", month(df_orders['orderdate'])))
df_orders = df_orders.withColumn("day", format_string("%02d",dayofmonth(df_orders['orderdate'])))



df_orders.write.partitionBy("year", "month", "day").parquet("s3://asdfgh-pyspark/raw_zone_pyspark/orders/partitioned_data/")
df_categories.write.parquet("s3://asdfgh-pyspark/raw_zone_pyspark/categories/")
df_customers.write.parquet("s3://asdfgh-pyspark/raw_zone_pyspark/customers/")
df_orders_details.write.parquet("s3://asdfgh-pyspark/raw_zone_pyspark/orders_details/")
df_products.write.parquet("s3://asdfgh-pyspark/raw_zone_pyspark/products/")
df_suppliers.write.parquet("s3://asdfgh-pyspark/raw_zone_pyspark/suppliers/")

AnalysisException: path s3://asdfgh-pyspark/raw_zone_pyspark/orders/partitioned_data already exists.

## 2.2 Create Athena Table to read data from Raw Zone

In [9]:
def generate_ddl(dataframe, table_name, db_name, zone):
    ddl_statement = f"CREATE EXTERNAL TABLE IF NOT EXISTS {db_name}.{table_name} (\n"
    
    for field in dataframe.schema.fields:
        column_name = field.name
        data_type = field.dataType.simpleString()
        ddl_statement += f"  {column_name} {data_type},\n"
    
    ddl_statement = ddl_statement.rstrip(",\n")
    ddl_statement += f"\n)\nSTORED AS PARQUET\nLOCATION 's3://asdfgh-pyspark/{zone}_pyspark/{table_name}/'"
    

    # Print the DDL statement
    print(ddl_statement)
                  
    # Create Athena Table
    spark.sql(ddl_statement)

In [10]:
db_name = "raw_zone"
generate_ddl(df_categories, "categories", db_name, "raw_zone")
generate_ddl(df_customers, "customers", db_name, "raw_zone")
generate_ddl(df_orders_details,"orders_details", db_name, "raw_zone")
generate_ddl(df_products, "products", db_name, "raw_zone")
generate_ddl(df_suppliers, "suppliers", db_name, "raw_zone")

CREATE EXTERNAL TABLE IF NOT EXISTS raw_zone.categories (
  categoryid string,
  categoryname string,
  description string,
  picture string
)
STORED AS PARQUET
LOCATION 's3://asdfgh-pyspark/raw_zone_pyspark/categories/'
CREATE EXTERNAL TABLE IF NOT EXISTS raw_zone.customers (
  customerid string,
  companyname string,
  contactname string,
  contacttitle string,
  address string,
  city string,
  region string,
  postalcode string,
  country string,
  phone string,
  fax string
)
STORED AS PARQUET
LOCATION 's3://asdfgh-pyspark/raw_zone_pyspark/customers/'
CREATE EXTERNAL TABLE IF NOT EXISTS raw_zone.orders_details (
  orderid string,
  productid string,
  unitprice string,
  quantity string,
  discount string
)
STORED AS PARQUET
LOCATION 's3://asdfgh-pyspark/raw_zone_pyspark/orders_details/'
CREATE EXTERNAL TABLE IF NOT EXISTS raw_zone.products (
  productid string,
  productname string,
  supplierid string,
  categoryid string,
  quantityperunit string,
  unitprice string,
  unitsinstock string,
  unitsonorder string,
  reorderlevel string,
  discontinued string
)
STORED AS PARQUET
LOCATION 's3://asdfgh-pyspark/raw_zone_pyspark/products/'
CREATE EXTERNAL TABLE IF NOT EXISTS raw_zone.suppliers (
  supplierid string,
  companyname string,
  contactname string,
  contacttitle string,
  address string,
  city string,
  region string,
  postalcode string,
  country string,
  phone string,
  fax string,
  homepage string
)
STORED AS PARQUET
LOCATION 's3://asdfgh-pyspark/raw_zone_pyspark/suppliers/'

In [11]:
def generate_ddl_with_partition(dataframe, table_name, db_name, zone):
    ddl_statement = f"CREATE EXTERNAL TABLE IF NOT EXISTS {db_name}.{table_name} (\n"
    
    for field in dataframe.schema.fields:
        column_name = field.name
        if column_name not in ["year", "month", "day"]:
            data_type = field.dataType.simpleString()
            ddl_statement += f"  {column_name} {data_type},\n"
    
    ddl_statement = ddl_statement.rstrip(",\n")
    ddl_statement += f"""\n)
                        PARTITIONED BY ( 
                          `year` int, 
                          `month` int, 
                          `day` int)
                        """
    ddl_statement += f"\nSTORED AS PARQUET\nLOCATION 's3://asdfgh-pyspark/{zone}_pyspark/{table_name}/partitioned_data/'"
    

    # Print the DDL statement
    print(ddl_statement)
                  
    # Create Athena Table
    spark.sql(ddl_statement)
    spark.sql(f"MSCK REPAIR TABLE {db_name}.{table_name}")

In [12]:
generate_ddl_with_partition(df_orders, "orders", db_name, "raw_zone")

CREATE EXTERNAL TABLE IF NOT EXISTS raw_zone.orders (
  orderid string,
  customerid string,
  employeeid string,
  orderdate string,
  requireddate string,
  shippeddate string,
  shipvia string,
  freight string,
  shipname string,
  shipaddress string,
  shipcity string,
  shipregion string,
  shippostalcode string,
  shipcountry string
)
                        PARTITIONED BY (
                          `year` int,
                          `month` int,
                          `day` int)

STORED AS PARQUET
LOCATION 's3://asdfgh-pyspark/raw_zone_pyspark/orders/partitioned_data/'

# 3. Transforming data

In [15]:
# Joining data
df_products = df_products.alias("products")
df_categories = df_categories.alias("categories")
df_suppliers = df_suppliers.alias("suppliers")

df_dim_products = df_products \
                    .join(df_categories, df_products["categoryid"] == df_categories["categoryid"], how="right").drop(*["categoryid"]) \
                    .join(df_suppliers,df_products["supplierid"] == df_suppliers["supplierid"], how="right").drop(*["supplierid"])
df_dim_products.show()

+---------+--------------------+-------------------+---------+------------+------------+------------+------------+--------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+-----------+--------+----------+---------+--------------+--------------+--------------------+
|productid|         productname|    quantityperunit|unitprice|unitsinstock|unitsonorder|reorderlevel|discontinued|  categoryname|         description|picture|         companyname|         contactname|        contacttitle|             address|       city|  region|postalcode|  country|         phone|           fax|            homepage|
+---------+--------------------+-------------------+---------+------------+------------+------------+------------+--------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+-----------+--------+----------+---------+--------------+--------------+--------------------+
|        3|       Aniseed Syrup|12 - 550 ml bottles|       10|          13|          70|          25|           0|    Condiments|Sweet and savory ...|     \x|      Exotic Liquids|    Charlotte Cooper|  Purchasing Manager|      49 Gilbert St.|     London|    null|   EC1 4SD|       UK|(171) 555-2222|          null|                null|
|        2|               Chang| 24 - 12 oz bottles|       19|          17|          40|          25|           1|     Beverages|Soft drinks, coff...|     \x|      Exotic Liquids|    Charlotte Cooper|  Purchasing Manager|      49 Gilbert St.|     London|    null|   EC1 4SD|       UK|(171) 555-2222|          null|                null|
|       66|Louisiana Hot Spi...|     24 - 8 oz jars|       17|           4|         100|          20|           0|    Condiments|Sweet and savory ...|     \x|New Orleans Cajun...|       Shelley Burke| Order Administrator|      P.O. Box 78934|New Orleans|      LA|     70117|      USA|(100) 555-4822|          null|         #CAJUN.HTM#|
|       65|Louisiana Fiery H...|  32 - 8 oz bottles|    21.05|          76|           0|           0|           0|    Condiments|Sweet and savory ...|     \x|New Orleans Cajun...|       Shelley Burke| Order Administrator|      P.O. Box 78934|New Orleans|      LA|     70117|      USA|(100) 555-4822|          null|         #CAJUN.HTM#|
|        5|Chef Anton's Gumb...|           36 boxes|    21.35|           0|           0|           0|           1|    Condiments|Sweet and savory ...|     \x|New Orleans Cajun...|       Shelley Burke| Order Administrator|      P.O. Box 78934|New Orleans|      LA|     70117|      USA|(100) 555-4822|          null|         #CAJUN.HTM#|
|        4|Chef Anton's Caju...|     48 - 6 oz jars|       22|          53|           0|           0|           0|    Condiments|Sweet and savory ...|     \x|New Orleans Cajun...|       Shelley Burke| Order Administrator|      P.O. Box 78934|New Orleans|      LA|     70117|      USA|(100) 555-4822|          null|         #CAJUN.HTM#|
|        8|Northwoods Cranbe...|    12 - 12 oz jars|       40|           6|           0|           0|           0|    Condiments|Sweet and savory ...|     \x|Grandma Kelly's H...|       Regina Murphy|Sales Representative|      707 Oxford Rd.|  Ann Arbor|      MI|     48104|      USA|(313) 555-5735|(313) 555-3349|                null|
|        7|Uncle Bob's Organ...|    12 - 1 lb pkgs.|       30|          15|           0|          10|           0|       Produce|Dried fruit and b...|     \x|Grandma Kelly's H...|       Regina Murphy|Sales Representative|      707 Oxford Rd.|  Ann Arbor|      MI|     48104|      USA|(313) 555-5735|(313) 555-3349|                null|
|        6|Grandma's Boysenb...|     12 - 8 oz jars|       25|         120|           0|          25|           0|    Condiments|Sweet and savory ...|     \x|Grandma Kelly's H...|       Regina Murphy|Sales Representative|      707 Oxford Rd.|  Ann Arbor|      MI|     48104|      USA|(313) 555-5735|(313) 555-3349|                null|
|       74|       Longlife Tofu|          5 kg pkg.|       10|           4|          20|           5|           0|       Produce|Dried fruit and b...|     \x|       Tokyo Traders|        Yoshi Nagase|   Marketing Manager|9-8 Sekimai Musas...|      Tokyo|    null|       100|    Japan|(03) 3555-5011|          null|                null|
|       10|               Ikura|   12 - 200 ml jars|       31|          31|           0|           0|           0|       Seafood|    Seaweed and fish|     \x|       Tokyo Traders|        Yoshi Nagase|   Marketing Manager|9-8 Sekimai Musas...|      Tokyo|    null|       100|    Japan|(03) 3555-5011|          null|                null|
|        9|     Mishi Kobe Niku|   18 - 500 g pkgs.|       97|          29|           0|           0|           1|  Meat/Poultry|      Prepared meats|     \x|       Tokyo Traders|        Yoshi Nagase|   Marketing Manager|9-8 Sekimai Musas...|      Tokyo|    null|       100|    Japan|(03) 3555-5011|          null|                null|
|       12|Queso Manchego La...|   10 - 500 g pkgs.|       38|          86|           0|           0|           0|Dairy Products|             Cheeses|     \x|Cooperativa de Qu...|Antonio del Valle...|Export Administrator|   Calle del Rosal 4|     Oviedo|Asturias|     33007|    Spain|(98) 598 76 54|          null|                null|
|       11|      Queso Cabrales|          1 kg pkg.|       21|          22|          30|          30|           0|Dairy Products|             Cheeses|     \x|Cooperativa de Qu...|Antonio del Valle...|Export Administrator|   Calle del Rosal 4|     Oviedo|Asturias|     33007|    Spain|(98) 598 76 54|          null|                null|
|       15|        Genen Shouyu|24 - 250 ml bottles|       13|          39|           0|           5|           0|    Condiments|Sweet and savory ...|     \x|            Mayumi's|         Mayumi Ohno|Marketing Represe...|  92 Setsuko Chuo-ku|      Osaka|    null|       545|    Japan| (06) 431-7877|          null|Mayumi's (on the ...|
|       14|                Tofu|   40 - 100 g pkgs.|    23.25|          35|           0|           0|           0|       Produce|Dried fruit and b...|     \x|            Mayumi's|         Mayumi Ohno|Marketing Represe...|  92 Setsuko Chuo-ku|      Osaka|    null|       545|    Japan| (06) 431-7877|          null|Mayumi's (on the ...|
|       13|               Konbu|           2 kg box|        6|          24|           0|           5|           0|       Seafood|    Seaweed and fish|     \x|            Mayumi's|         Mayumi Ohno|Marketing Represe...|  92 Setsuko Chuo-ku|      Osaka|    null|       545|    Japan| (06) 431-7877|          null|Mayumi's (on the ...|
|       70|       Outback Lager|24 - 355 ml bottles|       15|          15|          10|          30|           0|     Beverages|Soft drinks, coff...|     \x|       Pavlova, Ltd.|         Ian Devling|   Marketing Manager|74 Rose St. Mooni...|  Melbourne|Victoria|      3058|Australia| (03) 444-2343| (03) 444-6588|                null|
|       63|        Vegie-spread|    15 - 625 g jars|     43.9|          24|           0|           5|           0|    Condiments|Sweet and savory ...|     \x|       Pavlova, Ltd.|         Ian Devling|   Marketing Manager|74 Rose St. Mooni...|  Melbourne|Victoria|      3058|Australia| (03) 444-2343| (03) 444-6588|                null|
|       18|    Carnarvon Tigers|         16 kg pkg.|     62.5|          42|           0|           0|           0|       Seafood|    Seaweed and fish|     \x|       Pavlova, Ltd.|         Ian Devling|   Marketing Manager|74 Rose St. Mooni...|  Melbourne|Victoria|      3058|Australia| (03) 444-2343| (03) 444-6588|                null|
+---------+--------------------+-------------------+---------+------------+------------+------------+------------+--------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+-----------+--------+----------+---------+--------------+--------------+--------------------+
only showing top 20 rows

In [18]:

df_orders_details = df_orders_details.withColumnRenamed("orderid", "orderid_2")
df_fact_orders_items = df_orders_details  \
                    .join(df_orders, df_orders["orderid"] == df_orders_details["orderid_2"], how="right").drop(*["orderid_2"])
df_fact_orders_items.show()

+---------+---------+--------+--------+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+----+-----+---+
|productid|unitprice|quantity|discount|orderid|customerid|employeeid| orderdate|requireddate|shippeddate|shipvia|freight|            shipname|         shipaddress|      shipcity|shipregion|shippostalcode|shipcountry|year|month|day|
+---------+---------+--------+--------+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+----+-----+---+
|       72|     34.8|       5|       0|  10248|     VINET|         5|1996-07-04|  1996-08-01| 1996-07-16|      3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|      null|         51100|     France|1996|   07| 04|
|       42|      9.8|      10|       0|  10248|     VINET|         5|1996-07-04|  1996-08-01| 1996-07-16|      3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|      null|         51100|     France|1996|   07| 04|
|       11|       14|      12|       0|  10248|     VINET|         5|1996-07-04|  1996-08-01| 1996-07-16|      3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|      null|         51100|     France|1996|   07| 04|
|       51|     42.4|      40|       0|  10249|     TOMSP|         6|1996-07-05|  1996-08-16| 1996-07-10|      1|  11.61|  Toms Spezialitäten|       Luisenstr. 48|       Münster|      null|         44087|    Germany|1996|   07| 05|
|       14|     18.6|       9|       0|  10249|     TOMSP|         6|1996-07-05|  1996-08-16| 1996-07-10|      1|  11.61|  Toms Spezialitäten|       Luisenstr. 48|       Münster|      null|         44087|    Germany|1996|   07| 05|
|       65|     16.8|      15|    0.15|  10250|     HANAR|         4|1996-07-08|  1996-08-05| 1996-07-12|      2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 08|
|       51|     42.4|      35|    0.15|  10250|     HANAR|         4|1996-07-08|  1996-08-05| 1996-07-12|      2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 08|
|       41|      7.7|      10|       0|  10250|     HANAR|         4|1996-07-08|  1996-08-05| 1996-07-12|      2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 08|
|       65|     16.8|      20|       0|  10251|     VICTE|         3|1996-07-08|  1996-08-05| 1996-07-15|      1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|      null|         69004|     France|1996|   07| 08|
|       57|     15.6|      15|    0.05|  10251|     VICTE|         3|1996-07-08|  1996-08-05| 1996-07-15|      1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|      null|         69004|     France|1996|   07| 08|
|       22|     16.8|       6|    0.05|  10251|     VICTE|         3|1996-07-08|  1996-08-05| 1996-07-15|      1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|      null|         69004|     France|1996|   07| 08|
|       60|     27.2|      40|       0|  10252|     SUPRD|         4|1996-07-09|  1996-08-06| 1996-07-11|      2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|      null|        B-6000|    Belgium|1996|   07| 09|
|       33|        2|      25|    0.05|  10252|     SUPRD|         4|1996-07-09|  1996-08-06| 1996-07-11|      2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|      null|        B-6000|    Belgium|1996|   07| 09|
|       20|     64.8|      40|    0.05|  10252|     SUPRD|         4|1996-07-09|  1996-08-06| 1996-07-11|      2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|      null|        B-6000|    Belgium|1996|   07| 09|
|       49|       16|      40|       0|  10253|     HANAR|         3|1996-07-10|  1996-07-24| 1996-07-16|      2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 10|
|       39|     14.4|      42|       0|  10253|     HANAR|         3|1996-07-10|  1996-07-24| 1996-07-16|      2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 10|
|       31|       10|      20|       0|  10253|     HANAR|         3|1996-07-10|  1996-07-24| 1996-07-16|      2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 10|
|       74|        8|      21|       0|  10254|     CHOPS|         5|1996-07-11|  1996-08-08| 1996-07-23|      2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|      null|          3012|Switzerland|1996|   07| 11|
|       55|     19.2|      21|    0.15|  10254|     CHOPS|         5|1996-07-11|  1996-08-08| 1996-07-23|      2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|      null|          3012|Switzerland|1996|   07| 11|
|       24|      3.6|      15|    0.15|  10254|     CHOPS|         5|1996-07-11|  1996-08-08| 1996-07-23|      2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|      null|          3012|Switzerland|1996|   07| 11|
+---------+---------+--------+--------+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+----+-----+---+
only showing top 20 rows

## 3.1 Trasnform Fact_Orders_Items

In [19]:
from pyspark.sql.functions import expr, concat, substring, col, to_date
# Add 543 years to the orderdate column while maintaining month-day format
df_fact_orders_items = df_fact_orders_items.withColumn("new_year", expr("substring(orderdate, 1, 4) + 543"))
df_fact_orders_items = df_fact_orders_items.withColumn("orderdate", expr("concat(cast(substring(orderdate, 1, 4) + 543 as string), substring(orderdate, 5))"))
df_fact_orders_items = df_fact_orders_items.withColumn("orderdate", expr("replace(cast(orderdate as string), '.0', '')"))
df_fact_orders_items = df_fact_orders_items.withColumn("orderdate", to_date("orderdate", "yyyy-MM-dd"))

df_fact_orders_items.show()

+---------+---------+--------+--------+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+----+-----+---+--------+
|productid|unitprice|quantity|discount|orderid|customerid|employeeid| orderdate|requireddate|shippeddate|shipvia|freight|            shipname|         shipaddress|      shipcity|shipregion|shippostalcode|shipcountry|year|month|day|new_year|
+---------+---------+--------+--------+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+----+-----+---+--------+
|       72|     34.8|       5|       0|  10248|     VINET|         5|2539-07-04|  1996-08-01| 1996-07-16|      3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|      null|         51100|     France|1996|   07| 04|  2539.0|
|       42|      9.8|      10|       0|  10248|     VINET|         5|2539-07-04|  1996-08-01| 1996-07-16|      3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|      null|         51100|     France|1996|   07| 04|  2539.0|
|       11|       14|      12|       0|  10248|     VINET|         5|2539-07-04|  1996-08-01| 1996-07-16|      3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|      null|         51100|     France|1996|   07| 04|  2539.0|
|       51|     42.4|      40|       0|  10249|     TOMSP|         6|2539-07-05|  1996-08-16| 1996-07-10|      1|  11.61|  Toms Spezialitäten|       Luisenstr. 48|       Münster|      null|         44087|    Germany|1996|   07| 05|  2539.0|
|       14|     18.6|       9|       0|  10249|     TOMSP|         6|2539-07-05|  1996-08-16| 1996-07-10|      1|  11.61|  Toms Spezialitäten|       Luisenstr. 48|       Münster|      null|         44087|    Germany|1996|   07| 05|  2539.0|
|       65|     16.8|      15|    0.15|  10250|     HANAR|         4|2539-07-08|  1996-08-05| 1996-07-12|      2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 08|  2539.0|
|       51|     42.4|      35|    0.15|  10250|     HANAR|         4|2539-07-08|  1996-08-05| 1996-07-12|      2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 08|  2539.0|
|       41|      7.7|      10|       0|  10250|     HANAR|         4|2539-07-08|  1996-08-05| 1996-07-12|      2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 08|  2539.0|
|       65|     16.8|      20|       0|  10251|     VICTE|         3|2539-07-08|  1996-08-05| 1996-07-15|      1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|      null|         69004|     France|1996|   07| 08|  2539.0|
|       57|     15.6|      15|    0.05|  10251|     VICTE|         3|2539-07-08|  1996-08-05| 1996-07-15|      1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|      null|         69004|     France|1996|   07| 08|  2539.0|
|       22|     16.8|       6|    0.05|  10251|     VICTE|         3|2539-07-08|  1996-08-05| 1996-07-15|      1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|      null|         69004|     France|1996|   07| 08|  2539.0|
|       60|     27.2|      40|       0|  10252|     SUPRD|         4|2539-07-09|  1996-08-06| 1996-07-11|      2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|      null|        B-6000|    Belgium|1996|   07| 09|  2539.0|
|       33|        2|      25|    0.05|  10252|     SUPRD|         4|2539-07-09|  1996-08-06| 1996-07-11|      2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|      null|        B-6000|    Belgium|1996|   07| 09|  2539.0|
|       20|     64.8|      40|    0.05|  10252|     SUPRD|         4|2539-07-09|  1996-08-06| 1996-07-11|      2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|      null|        B-6000|    Belgium|1996|   07| 09|  2539.0|
|       49|       16|      40|       0|  10253|     HANAR|         3|2539-07-10|  1996-07-24| 1996-07-16|      2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 10|  2539.0|
|       39|     14.4|      42|       0|  10253|     HANAR|         3|2539-07-10|  1996-07-24| 1996-07-16|      2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 10|  2539.0|
|       31|       10|      20|       0|  10253|     HANAR|         3|2539-07-10|  1996-07-24| 1996-07-16|      2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|        RJ|     05454-876|     Brazil|1996|   07| 10|  2539.0|
|       74|        8|      21|       0|  10254|     CHOPS|         5|2539-07-11|  1996-08-08| 1996-07-23|      2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|      null|          3012|Switzerland|1996|   07| 11|  2539.0|
|       55|     19.2|      21|    0.15|  10254|     CHOPS|         5|2539-07-11|  1996-08-08| 1996-07-23|      2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|      null|          3012|Switzerland|1996|   07| 11|  2539.0|
|       24|      3.6|      15|    0.15|  10254|     CHOPS|         5|2539-07-11|  1996-08-08| 1996-07-23|      2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|      null|          3012|Switzerland|1996|   07| 11|  2539.0|
+---------+---------+--------+--------+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+--------------------+--------------+----------+--------------+-----------+----+-----+---+--------+
only showing top 20 rows

## 3.2 Load Transformed Data To Serving Zone

In [21]:
df_fact_orders_items.drop(*["year","month","day"])
df_fact_orders_items = df_fact_orders_items.withColumn("year", year(df_fact_orders_items['orderdate']))
df_fact_orders_items = df_fact_orders_items.withColumn("month", format_string("%02d", month(df_fact_orders_items['orderdate'])))
df_fact_orders_items = df_fact_orders_items.withColumn("day", format_string("%02d",dayofmonth(df_fact_orders_items['orderdate'])))

df_fact_orders_items.write.partitionBy("year", "month", "day").parquet("s3://asdfgh-pyspark/serving_zone_pyspark/fact_orders_items/partitioned_data/")

AnalysisException: path s3://asdfgh-pyspark/serving_zone_pyspark/fact_orders_items/partitioned_data already exists.

In [22]:
df_dim_products.write.parquet("s3://asdfgh-pyspark/serving_zone_pyspark/dim_products/")

In [27]:
db_name = "saving_zone"
generate_ddl(df_dim_products, "dim_products", db_name, "serving_zone")

CREATE EXTERNAL TABLE IF NOT EXISTS saving_zone.dim_products (
  productid string,
  productname string,
  quantityperunit string,
  unitprice string,
  unitsinstock string,
  unitsonorder string,
  reorderlevel string,
  discontinued string,
  categoryname string,
  description string,
  picture string,
  companyname string,
  contactname string,
  contacttitle string,
  address string,
  city string,
  region string,
  postalcode string,
  country string,
  phone string,
  fax string,
  homepage string
)
STORED AS PARQUET
LOCATION 's3://asdfgh-pyspark/serving_zone_pyspark/dim_products/'

In [28]:
generate_ddl_with_partition(df_fact_orders_items, "fact_orders_items", db_name, "serving_zone")

CREATE EXTERNAL TABLE IF NOT EXISTS saving_zone.fact_orders_items (
  productid string,
  unitprice string,
  quantity string,
  discount string,
  orderid string,
  customerid string,
  employeeid string,
  orderdate date,
  requireddate string,
  shippeddate string,
  shipvia string,
  freight string,
  shipname string,
  shipaddress string,
  shipcity string,
  shipregion string,
  shippostalcode string,
  shipcountry string,
  new_year double
)
                        PARTITIONED BY (
                          `year` int,
                          `month` int,
                          `day` int)

STORED AS PARQUET
LOCATION 's3://asdfgh-pyspark/serving_zone_pyspark/fact_orders_items/partitioned_data/'